body{
    background: blueviolet;
}

.color{
    font-size: 40px;
    color: red;
}
p{
    border: 2px solid green;
    font-size: 20px;
}
#titulo{
    border: 5px solid black;
    color: antiquewhite;
    
}